.contents

  = render 'messages/side_bar'
  
  .main_contents
    .main_contents__nav
      .main_contents__nav__left-box
        .main_contents__nav__left-box__group
          = @group.name
        .main_contents__nav__left-box__member-list
          Member : 
          .main_contents__nav__left-box__member-list__member
            - @group.users.each do |user|
              = user.name
      .main_contents__nav__right-btn
        Edit
    .main_contents__body
      = render @messages  

    .main_contents__post
      .post-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'post-box__text', placeholder: 'type a message'
          .post-box__image
            = f.label :image, class: 'post-box__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'